<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    
    <ul style="list-style:none;">
	    <% for(var i=0; i< medias.length; i++) {%>
			<li style="display:inline-block; margin:2px;"><img src="<%= medias[i].images.thumbnail.url %>"></li>
		<% } %>
	</ul>
    
  </body>
</html>